* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html ,body {
    height: 100%;
    width: 100%;
}

#main-container {
    height: 100%;
    width: 100%;
    background: linear-gradient(270deg, #701414, #174e17, #1f1f5f, #7a1919);
    background-size: 600% 600%;
    animation: backgroundAnimation 10s ease infinite;
}

@keyframes backgroundAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#contact-us {
    color: white;
    padding: 10px 45px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

#form-container {
    height: 68vh;
    width: 30vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 5px 0;
    padding: 0.5rem;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background-color: rgb(0, 128, 0);
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}


